@import "./mixins";

$closeElemSize: 30px;
$closeElemOffset: 10px;
$closeElemFontSize: 18px;

.modal {
  &__background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $modal-index;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__wrapper {
    position: relative;
    width: 50%;
    background-color: var(--bs-white);
    @include respond-max-xs {
      width: 90%; 
    }
  }

  &__close {
    position: absolute;
    top: $closeElemOffset;
    right: $closeElemOffset;
    background-color: var(--bs-gray-500);
    color: var(--bs-white);
    border: none;
    border-radius: 50%;
    outline: none;
    width: $closeElemSize;
    height: $closeElemSize;
    text-align: center;
    line-height: $closeElemFontSize;
    font-size: $closeElemFontSize;
    font-weight: bold;
    transition: background-color 0.3s;
    cursor: pointer;

    &:hover {
      background-color: var(--bs-gray-600);
    }
  }
}
