@import "./mixins";

.movie-card-wrapper {
  flex: 0 0 calc(100% / 1);
  padding: 20px 40px;

  @include respond-to-xs {
    flex: 0 0 calc(100% / 2);
    padding: 0 20px;
  }

  @include respond-to-sm {
    flex: 0 0 calc(100% / 3);
    padding: 0 10px;
  }

  @include respond-to-md {
    flex: 0 0 calc(100% / 4);
  }

  @include respond-to-lg {
    flex: 0 0 calc(100% / 5);
  }

  @include respond-to-xl {
    flex: 0 0 calc(100% / 6);
  }
}

.movie-card,
.movie-card *,
.movie-card + * {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  @include respond-max-xs {
    transition: none;
  }
}

.movie-card {
  position: relative;
  color: var(--bs-white);
  text-align: center;
  background: transparent;
  border: none;

  &:hover {
    transform: scale(1.1);
  }

  &:hover &__overlay {
    opacity: 0.8;
  }

  &:hover &__info_panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    opacity: 1;
  }

  &__body {
    position: relative;
    padding: 0;

    &:hover {
      border: 2px solid var(--bs-white);
    }
  }

  &.opened {
    & + .hero-card {
      display: block;
    }
  }

  &__overlay {
    background-color: #111;
  }

  &__overlay,
  &__info_panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
  }

  &__info_panel {
    padding: 5% 0;

    .bi-star:hover {
      color: #e50914;
    }

    .bi-star-fill {
      margin: 0 5px;
      color: #e50914;
    }

    .overview {
      height: 30%;
      padding: 5px;
      margin-bottom: 5px;
      overflow: scroll;
      font-size: 0.7rem;
      line-height: 105%;

      scrollbar-color: #aaa #f0f0f0;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        width: 8px;
        height: 0;
      }

      @include respond-max-sm {
        padding: 3px;
        margin-bottom: 2px;
      }

      @include respond-max-xs {
        margin-bottom: 40px;
        font-size: 1rem;
        line-height: 115%;
      }
    }
  }

  h6.title {
    margin-top: 10px;
    font-size: 0.9rem;

    &.mobile-card {
      display: none;
    }

    @media (max-width: 480px), (hover: none) {
      display: none;

      &.mobile-card {
        display: block;
      }
    }

    @include respond-max-sm {
      font-size: 1.2rem;
    }
  }

  button.close {
    display: none;
  }

  .year {
    padding: 0.2rem 0 0.4rem;
    font-size: 0.7rem;

    @include respond-max-xs {
      font-size: 1.2rem;
    }
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    min-height: 200px;
  }

  .bottom-buttons-group {
    width: 100%;

    button {
      display: block;
      width: 90%;
      padding: 5px;
      margin: 8px auto;
      font-size: 0.6rem;
      text-align: center;

      @include respond-max-sm {
        height: 20px;
        padding: 2px 2px;
        font-size: 0.6rem;
      }

      @include respond-max-xs {
        margin: 15px auto;
        height: 35px;
        font-size: 1rem;
      }

      &.btn-watch-later {
        &.blue,
        &:hover {
          color: var(--bs-white);
          background-color: #1cb5e0;
          border-color: #1cb5e0;
        }
      }

      &.btn-dark:hover {
        color: var(--bs-white);
        background: #1cb5e0;
        border-color: #1cb5e0;
      }

      .close {
        display: none;
      }
    }
  }

  .btn-star {
    width: 50px;
    margin: 0 5px;
    color: #e50914;
    cursor: pointer;
    @include respond-max-xs {
      font-size: 25px;
    }
  }

  @include respond-max-xs {
    &:hover {
      transform: none;

      .overlay {
        opacity: 0;
      }

      .info_panel {
        display: none;
      }
    }

    &.opened {
      position: fixed;
      top: 0;
      left: 0;
      z-index: $open-card-index;
      width: 100%;
      height: auto;
      border: 3px solid var(--bs-white);
      border-radius: 5px;
      transform: none;

      .overlay {
        opacity: 0.7;
      }

      .info_panel {
        display: block;
        opacity: 1;
      }

      h6.title {
        display: none;

        &.mobile-card {
          position: absolute;
          right: 0;
          bottom: 50%;
          left: 0;
          display: block;
          padding: 19px;
          font-size: 1.5rem;
        }
      }

      button.close {
        position: absolute;
        top: 0;
        right: 0px;
        z-index: 999;
        display: block;
        width: 75px;
        height: 60px;
        font-size: 50px;
        line-height: 20px;
        color: var(--bs-white);
        background: transparent;
        border: none;

        span {
          vertical-align: text-top;
        }
      }
    }
  }

  @include respond-max-sm {
    background-color: transparent;
  }
}
